# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Backup
*~
*_
*#

# Setup
.idea/
*.sublime-*
.vscode/*

# Potential local build repository
*build*/
Testing/*
*.vscode/*
doc/docs/*
.cache/
