##==================================================================================================
##  EVE - Expressive Vector Engine
##  Copyright 2019 Joel FALCOU
##  Copyright 2019 Jean-Thierry LAPRESTE
##
##  Licensed under the MIT License <http://opensource.org/licenses/MIT>.
##  SPDX-License-Identifier: MIT
##==================================================================================================
version: 2.1

##==================================================================================================
## Docker images
##==================================================================================================
docker_gcc: &docker_gcc
  docker:
    - image: gcc:latest
      environment:
        COMPILER: g++
docker_clang: &docker_clang
  docker:
    - image: ubuntu:rolling
      environment:
        REQUIRES_CLANG: ON
        COMPILER: clang++-9
docker_ppc64: &docker_ppc64
  docker:
    - image: ubuntu:disco
      environment:
        COMPILER_PACKAGE: g++-8-powerpc64-linux-gnu
        COMPILER: powerpc64-linux-gnu-g++-8
        RUN_COMMAND: qemu-ppc64
        EXTRA_PATH: /usr/powerpc64-linux-gnu/lib/
        EXTRA_LIB: lib64
        EXTRA_NAME: ld64.so.1
docker_aarch64: &docker_aarch64
  docker:
    - image: ubuntu:disco
      environment:
        COMPILER_PACKAGE: g++-8-aarch64-linux-gnu
        COMPILER: aarch64-linux-gnu-g++-8
        RUN_COMMAND: qemu-aarch64
        EXTRA_PATH: /usr/aarch64-linux-gnu/lib/
        EXTRA_LIB: lib
        EXTRA_NAME: ld-linux-aarch64.so.1

##==================================================================================================
## Build configurations
##==================================================================================================
config_gcc_x86: &config_gcc_x86
  <<: *docker_gcc
config_clang_x86: &config_clang_x86
  <<: *docker_clang
config_aarch64: &config_aarch64
 <<: *docker_aarch64
config_gcc_ppc64: &config_gcc_ppc64
  <<: *docker_ppc64

##==================================================================================================
## Jobs list
##==================================================================================================
jobs:
  ##================================================================================================
  ## Non-SIMD tests
  ##================================================================================================
  gcc_x86:
    <<: *config_gcc_x86
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Running Basic Tests - Emulation
          command: VARIANT="emulation" OPTIONS="-DEVE_NO_SIMD -O3" . ./.circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - SSE2
          command: VARIANT="sse2" OPTIONS="-O3 -msse2" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - SSE4
          command: VARIANT="sse4" OPTIONS="-O3 -msse4" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - AVX
          command: VARIANT="avx" OPTIONS="-O3 -mavx" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - FMA3
          command: VARIANT="fma" OPTIONS="-O3 -mavx -mfma" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - AVX2
          command: VARIANT="avx2" OPTIONS="-O3 -mavx2" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - Scalar
          command: VARIANT="scalar" OPTIONS="-O3" . ./.circleci/perform_scalar.sh

  clang_x86:
    <<: *config_clang_x86
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Install clang-8
          command: 'apt-get update && sudo apt-get install -y clang-8'
      - run:
          name: Running Basic Tests - Emulation
          command: VARIANT="emulation" OPTIONS="-DEVE_NO_SIMD -O3" . ./.circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - SSE2
          command: VARIANT="sse2" OPTIONS="-O3 -msse2" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - SSE4
          command: VARIANT="sse4" OPTIONS="-O3 -msse4" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - AVX
          command: VARIANT="avx" OPTIONS="-O3 -mavx" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - FMA3
          command: VARIANT="fma" OPTIONS="-O3 -mavx -mfma" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - AVX2
          command: VARIANT="avx2" OPTIONS="-O3 -mavx2" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - Scalar
          command: VARIANT="scalar" OPTIONS="-O3" . ./.circleci/perform_scalar.sh

  arm_aarch64:
    <<: *config_aarch64
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Setup AARCH64
          command: . .circleci/prepare_cc.sh
      - run:
          name: Running Basic Tests - Emulation
          command: VARIANT="emulation" OPTIONS="-DEVE_NO_SIMD -O3 -Wno-psabi" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - AARCH64 NEON
          command: VARIANT="aarch64" OPTIONS="-O3 -Wno-psabi" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - Scalar
          command: VARIANT="scalar" OPTIONS="-O3" . ./.circleci/perform_scalar.sh

  ppc64:
    <<: *config_gcc_ppc64
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Setup PowerPC64
          command: . .circleci/prepare_cc.sh
      - run:
          name: Running Basic Tests - Emulation
          command: VARIANT="vsx" OPTIONS="-DEVE_NO_SIMD -O3 -mvsx -mpower8-vector" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - PPC64 VSX
          command: VARIANT="vsx" OPTIONS="-O3 -mvsx -mpower8-vector" . .circleci/perform_basic.sh
      - run:
          name: Running Basic Tests - Scalar
          command: VARIANT="scalar" OPTIONS="-O3" . ./.circleci/perform_scalar.sh

  ##================================================================================================
  ## SIMD tests
  ##================================================================================================
  x86_emulation:
    <<: *config_clang_x86
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Install clang-8
          command: 'apt-get update && sudo apt-get install -y clang-8'
      - run:
          name: Running SIMD Tests - Emulation
          command: VARIANT="emulation" OPTIONS="-DEVE_NO_SIMD -O3" . ./.circleci/perform_simd.sh

  x86_sse2:
    <<: *config_gcc_x86
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Running SIMD Tests - SSE2
          command: VARIANT="sse2" OPTIONS="-msse2 -O3" . ./.circleci/perform_simd.sh

  x86_sse4:
    <<: *config_gcc_x86
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Running SIMD Tests - SSE4
          command: VARIANT="sse4" OPTIONS="-msse4 -O3" . ./.circleci/perform_simd.sh

  x86_avx:
    <<: *config_gcc_x86
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Running SIMD Tests - AVX
          command: VARIANT="avx" OPTIONS="-mavx -O3" . ./.circleci/perform_simd.sh

  x86_fma:
    <<: *config_gcc_x86
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Running SIMD Tests - FMA
          command: VARIANT="fma" OPTIONS="-mavx -mfma -O3" . ./.circleci/perform_simd.sh

  x86_avx2:
    <<: *config_gcc_x86
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Running SIMD Tests - AVX2
          command: VARIANT="avx2" OPTIONS="-mavx2 -O3" . ./.circleci/perform_simd.sh

  arm_aarch64_neon:
    <<: *config_aarch64
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Setup AARCH64
          command: . .circleci/prepare_cc.sh
      - run:
          name: Running SIMD Tests - AARCH64 NEON
          command: VARIANT="aarch64" OPTIONS="-O3 -Wno-psabi" . .circleci/perform_simd.sh

  ppc64_vsx:
    <<: *config_gcc_ppc64
    steps:
      - checkout
      - run:
          name: Setup dependencies
          command: . .circleci/prepare.sh
      - run:
          name: Setup PowerPC64
          command: . .circleci/prepare_cc.sh
      - run:
          name: Running Basic Tests - PPC64 VSX
          command: VARIANT="vsx" OPTIONS="-O3 -mvsx -mpower8-vector" . .circleci/perform_simd.sh

workflows:
  version: 2
  build_and_test:
    jobs:
    ##==============================================================================================
    ## All tests
    ##==============================================================================================
      - gcc_x86
      - clang_x86
      - arm_aarch64:
          requires:
            - gcc_x86
            - clang_x86
      - arm_aarch64_neon:
          requires:
            - gcc_x86
            - clang_x86
      - x86_sse2:
          requires:
            - arm_aarch64
            - arm_aarch64_neon
      - x86_sse4:
          requires:
            - arm_aarch64
            - arm_aarch64_neon
      - x86_avx:
          requires:
            - x86_sse2
            - x86_sse4
      - x86_avx2:
          requires:
            - x86_sse2
            - x86_sse4
      - x86_fma:
          requires:
            - x86_avx
            - x86_avx2
      - x86_emulation:
          requires:
            - x86_avx
            - x86_avx2
      # - ppc64:
      #     requires:
      #       - x86_emulation
      #       - x86_fma
      # - ppc64_vsx:
      #     requires:
      #       - x86_emulation
      #       - x86_fma
