####################################################################################################
##  EVE - Expressive Vector Engine
##  Copyright : EVE Project Contributors
##  SPDX-License-Identifier: BSL-1.0
####################################################################################################
name: EVE - Documentation Tests
on:
  pull_request:
    branches:
      - main

concurrency:
  group: doc-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ##################################################################################################
  ## Randomized precision tests
  ##################################################################################################
  documentation:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/jfalcou/compilers:v6
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - { comp: clang, arch: x86    , opts: -msse2    }
        - { comp: clang, arch: x86    , opts: -mavx2    }
        - { comp: gcc  , arch: aarch64, opts: -Wno-psabi}
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v3

      - name: Prepare EVE with ${{ matrix.cfg.comp }} @ ${{ matrix.cfg.arch }} with ${{ matrix.cfg.opts }}
        run:  |
          mkdir build
          cd build
          cmake ..  -G Ninja -DEVE_OPTIONS="${{ matrix.cfg.opts }}" \
                    -DCMAKE_TOOLCHAIN_FILE="../cmake/toolchain/${{ matrix.cfg.comp }}.${{ matrix.cfg.arch }}.cmake" \
                    -DEVE_BUILD_RANDOM=ON

      - name: Compile Documentation Tests
        run:  |
          cd build
          ninja doc.exe -j 4

      - name: Running Random Sampling Tests
        run:  |
          cd build
          ctest --output-on-failure -j 4 -R ^doc.*.exe
