####################################################################################################
##
##  EVE - Expressive Vector Engine
##  Copyright : EVE Project Contributors
##  SPDX-License-Identifier: BSL-1.0
##
####################################################################################################
name: EVE CI
on:
  pull_request:
    branches:
      - main

concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true

jobs:

##################################################################################################
## Check no PCH mode
##################################################################################################
# no_pch:
#   runs-on: ubuntu-latest
#   strategy:
#     fail-fast: false
#     matrix:
#       cfg:
#       - { comp: clang, arch: x86    , opts: -msse2    }
#   steps:
#     - name: Fetch current branch
#       uses: actions/checkout@v3
#     - name: Check EVE with no PCH
#       uses: ./.github/actions/run_docker
#       with:
#         options:        '${{ matrix.cfg.opts }}'
#         cmake-options:  '-DEVE_USE_PCH=0 -DCMAKE_TOOLCHAIN_FILE=../cmake/toolchain/${{ matrix.cfg.comp }}.${{ matrix.cfg.arch }}.cmake'
#         status:         1
#         cpu:            4
#     - name: Always execute
#       if: ${{ always() }}
#       uses: ./.github/actions/cleanup

  ##################################################################################################
  ## X86 Targets
  ##################################################################################################
  haswell:
    runs-on: [self-hosted, generic-x86]
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v3
      - name: Prepare Tests Suites
        run: |
          mkdir build && cd build && mkdir clang gcc no-pch
          pushd clang && mkdir sse2 sse4 avx avx2 emulation bmi2 && popd
          pushd gcc   && mkdir sse2 sse4 avx avx2 emulation bmi2 && popd
      - name: Tests Suites for SSE2
        run: |
          cd build/clang/sse2
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-msse2" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/clang.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Tests Suites for SSE4
        run: |
          cd build/clang/sse4
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-msse4.2" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/clang.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Tests Suites for AVX
        run: |
          cd build/clang/avx
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-mavx" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/clang.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Tests Suites for AVX2
        run: |
          cd build/clang/avx2
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-mavx2" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/clang.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Tests Suites for AVX2 + BMI2
        run: |
          cd build/clang/bmi2
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-mavx2 -mbmi2 -DEVE_USE_BMI_ON_AVX2" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/clang.x86.cmake
          ninja unit.memory.exe unit.algo.exe unit.api.exe -j 16
          ctest --output-on-failure -j 16 -R ^unit.memory.*.exe
          ctest --output-on-failure -j 16 -R ^unit.algo.*.exe
          ctest --output-on-failure -j 16 -R ^unit.api.*.exe
      - name: Tests Suites for Pure Emulation
        run: |
          cd build/clang/emulation
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-DEVE_NO_SIMD" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/clang.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Tests Suites for SSE2
        run: |
          cd build/gcc/sse2
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-msse2" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/gcc.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Tests Suites for SSE4
        run: |
          cd build/gcc/sse4
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-msse4.2" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/gcc.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Tests Suites for AVX
        run: |
          cd build/gcc/avx
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-mavx" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/gcc.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Tests Suites for AVX2
        run: |
          cd build/gcc/avx2
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-mavx2" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/gcc.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Tests Suites for AVX2 + BMI2
        run: |
          cd build/gcc/bmi2
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-mavx2 -mbmi2 -DEVE_USE_BMI_ON_AVX2" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/gcc.x86.cmake
          ninja unit.memory.exe unit.algo.exe unit.api.exe -j 16
          ctest --output-on-failure -j 16 -R ^unit.memory.*.exe
          ctest --output-on-failure -j 16 -R ^unit.algo.*.exe
          ctest --output-on-failure -j 16 -R ^unit.api.*.exe
      - name: Tests Suites for Pure Emulation
        run: |
          cd build/gcc/emulation
          cmake ../../.. -G Ninja -DEVE_OPTIONS="-DEVE_NO_SIMD" -DCMAKE_TOOLCHAIN_FILE=../../../cmake/toolchain/gcc.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Tests Suites for No PCH
        run: |
          cd build/no-pch
          cmake ../.. -G Ninja -DEVE_OPTIONS="-msse2" -DCMAKE_TOOLCHAIN_FILE=../../cmake/toolchain/clang.x86.cmake
          ninja unit -j 16 && ctest --output-on-failure -j 16
      - name: Clean-up
        if: ${{ always() }}
        uses: ./.github/actions/cleanup

  ##################################################################################################
  ## Phase 2 - Non-X86 - Requires gcc and qemu
  ##################################################################################################
  # other-arch:
  #
  #   runs-on: [self-hosted, generic-x86]
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       cfg:
  #       - { comp: clang_libcpp, arch: x86     , opts: -msse2  }
  #       - { comp: gcc, arch: aarch64 , opts: -Wno-psabi}
  #       - { comp: gcc, arch: arm     , opts: -Wno-psabi}
  #       - { comp: gcc, arch: ppc64   , opts: -Wno-psabi}
  #   steps:
  #     - name: Fetch current branch
  #       uses: actions/checkout@v3
  #     - name: Testing EVE with ${{ matrix.cfg.comp }} on ${{ matrix.cfg.arch }} with ${{ matrix.cfg.opts }}
  #       uses: ./.github/actions/run_docker
  #       with:
  #         options:        '${{ matrix.cfg.opts }}'
  #         cmake-options:  '-DCMAKE_TOOLCHAIN_FILE=../cmake/toolchain/${{ matrix.cfg.comp }}.${{ matrix.cfg.arch }}.cmake'
  #         status:         1
  #         cpu:            10
  #     - name: Always execute
  #       if: ${{ always() }}
  #       uses: ./.github/actions/cleanup

  ##################################################################################################
  ## Post-Skylake SIMD ISA & Full emulation tests
  ##################################################################################################
  skylake:
    runs-on: [self-hosted, avx512]
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v3
      - name: Prepare Tests Suites
        run: |
          mkdir build && cd build && mkdir clang-avx512 mkdir gcc-avx512 asan-regular asan-avx512
      - name: Tests Suites for AVX512 Clang
        run: |
          cd build/clang-avx512
          cmake ../.. -G Ninja -DEVE_OPTIONS="-march=skylake-avx512" -DCMAKE_TOOLCHAIN_FILE=../../cmake/toolchain/clang.x86.cmake
          ninja unit -j 8
          ctest --output-on-failure -j 8
      - name: Tests Suites for AVX512 G++
        run: |
          cd build/gcc-avx512
          cmake ../.. -G Ninja -DEVE_OPTIONS="-march=skylake-avx512" -DCMAKE_TOOLCHAIN_FILE=../../cmake/toolchain/gcc.x86.cmake
          ninja unit -j 8
          ctest --output-on-failure -j 8
      - name: Tests Suites for Clang + Sanitizers
        run: |
          cd build/asan-regular
          cmake ../.. -G Ninja -DCMAKE_TOOLCHAIN_FILE=../../cmake/toolchain/clang.x86_asan.cmake
          ninja unit -j 8
          ctest --output-on-failure -j 8
      - name: Tests Suites for AVX12 Clang + Sanitizers
        run: |
          cd build/asan-avx512
          cmake ../.. -G Ninja -DEVE_OPTIONS="-march=skylake-avx512" -DCMAKE_TOOLCHAIN_FILE=../../cmake/toolchain/clang.x86_asan.cmake
          ninja unit -j 8
          ctest --output-on-failure -j 8
      - name: Clean-up
        if: ${{ always() }}
        uses: ./.github/actions/cleanup

  ##################################################################################################
  ## Targets with incomplete tests set
  ## Currently: SVE128/256/512
  ##################################################################################################
  # partial-support:
  #   runs-on: [self-hosted, avx512]
  #   needs: avx512
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       cfg:
  #       - { comp: gcc, arch: sve128, opts: -Wno-psabi}
  #       - { comp: gcc, arch: sve256, opts: -Wno-psabi}
  #       - { comp: gcc, arch: sve512, opts: -Wno-psabi}
  #   steps:
  #     - name: Fetch current branch
  #       uses: actions/checkout@v3
  #     - name: Testing EVE with ${{ matrix.cfg.comp }} on ${{ matrix.cfg.arch }} with ${{ matrix.cfg.opts }}
  #       uses: ./.github/actions/run_docker
  #       with:
  #         options:        '${{ matrix.cfg.opts }}'
  #         cmake-options:  '-DCMAKE_TOOLCHAIN_FILE=../cmake/toolchain/${{ matrix.cfg.comp }}.${{ matrix.cfg.arch }}.cmake'
  #         status:         0
  #         cpu:            3
  #     - name: Always execute
  #       if: ${{ always() }}
  #       uses: ./.github/actions/cleanup

  ##################################################################################################
  ## EVE Installation Process
  ##################################################################################################
  install:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - {test: Installation       , mode: 0 }
        - {test: FetchContents      , mode: 1 }
        - {test: CPM                , mode: 2 }
        - {test: Multi-architecture , mode: 3 }
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v3
      - name: Check EVE Installation Procedure
        uses: ./.github/actions/integration
        with:
          branch: '${{ github.head_ref }}'
          mode: '${{ matrix.cfg.mode }}'

  ##################################################################################################
  ## Randomized precision tests
  ##################################################################################################
  random:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - { comp: clang, arch: x86    , opts: -msse2    }
        - { comp: clang, arch: x86    , opts: -mavx2    }
        - { comp: gcc  , arch: aarch64, opts: -Wno-psabi}
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v3
      - name: Check EVE via Random Sampling with ${{ matrix.cfg.comp }} on ${{ matrix.cfg.arch }} with ${{ matrix.cfg.opts }}
        uses: ./.github/actions/run_docker
        with:
          options:        '${{ matrix.cfg.opts }}'
          cmake-options:  '-DCMAKE_TOOLCHAIN_FILE=../cmake/toolchain/${{ matrix.cfg.comp }}.${{ matrix.cfg.arch }}.cmake'
          status:         2
          cpu:            4
      - name: Always execute
        if: ${{ always() }}
        uses: ./.github/actions/cleanup

  ##################################################################################################
  ## Mac OS X Targets
  ##################################################################################################
  macosx:
    runs-on: [macos-12]
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - { comp: clang , arch: x86 , opts: -mavx }
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v3
      - name: Running CMake for ${{ matrix.cfg.comp }} on ${{ matrix.cfg.arch }} with ${{ matrix.cfg.opts }}
        run: |
          mkdir build && cd build
          cmake .. -DEVE_OPTIONS="${{ matrix.cfg.opts }}" -DCMAKE_TOOLCHAIN_FILE=../cmake/toolchain/${{ matrix.cfg.comp }}.${{ matrix.cfg.arch }}.cmake
      - name: Compiling Unit Tests
        run:  cd build && make unit -j 2
      - name: Running Unit Tests
        run: cd build && ctest --output-on-failure -j 2

  ##################################################################################################
  ## Windows Targets
  ##################################################################################################
  msvc:
    runs-on: [windows-2022]
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - { mode: Debug, options: "-DEVE_NO_FORCEINLINE"}
        - { mode: Release, options: ""}
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v3
      - name: Running CMake for MSVC ${{ matrix.cfg.mode }} ${{ matrix.cfg.options }}
        run: |
          mkdir build && cd build
          cmake -G "Visual Studio 17 2022" -A x64 .. -DCMAKE_CXX_FLAGS="${{ matrix.cfg.options }}"
      - name: Compiling Unit Tests
        run:  |
          cd build
          cmake --build . --target unit.arch.exe      --config ${{ matrix.cfg.mode }} --parallel 2
          cmake --build . --target unit.meta.exe      --config ${{ matrix.cfg.mode }} --parallel 2
          cmake --build . --target unit.internals.exe --config ${{ matrix.cfg.mode }} --parallel 2
      - name: Running Tests
        run: |
          cd build
          ctest -C ${{ matrix.cfg.mode }} --output-on-failure -R ^unit.arch.*.exe
          ctest -C ${{ matrix.cfg.mode }} --output-on-failure -R ^unit.meta.*.exe
          ctest -C ${{ matrix.cfg.mode }} --output-on-failure -R ^unit.internals.*.exe
