name: E.V.E CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - develop

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  arch-arm:
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - { comp: gcc  , arch: aarch64, opts: -Wno-psabi            , status: 1 }
        - { comp: gcc  , arch: arm    , opts: -Wno-psabi            , status: 1 }

    steps:
      - name: Fetch current branch
        uses: actions/checkout@v2
      - name: Testing EVE with ${{ matrix.cfg.comp }} on ${{ matrix.cfg.arch }} with ${{ matrix.cfg.opts }}
        uses: ./.github/actions/run_docker
        with:
          options:        '${{ matrix.cfg.opts }}'
          cmake-options:  '-DCMAKE_TOOLCHAIN_FILE=../cmake/toolchain/${{ matrix.cfg.comp }}.${{ matrix.cfg.arch }}.cmake'
          status:        '${{ matrix.cfg.status }}'

  arch-x86:
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - { comp: clang, arch: x86    , opts: -msse2                , status: 1 }
        - { comp: gcc  , arch: x86    , opts: -msse2                , status: 1 }
        - { comp: clang, arch: x86    , opts: -mssse3               , status: 1 }
        - { comp: gcc  , arch: x86    , opts: -mssse3               , status: 1 }
        - { comp: clang, arch: x86    , opts: -msse4.2              , status: 1 }
        - { comp: gcc  , arch: x86    , opts: -msse4.2              , status: 1 }
        - { comp: clang, arch: x86    , opts: -mavx                 , status: 1 }
        - { comp: gcc  , arch: x86    , opts: -mavx                 , status: 1 }
        - { comp: clang, arch: x86    , opts: -mavx2                , status: 1 }
        - { comp: gcc  , arch: x86    , opts: -mavx2                , status: 1 }
        - { comp: clang, arch: x86    , opts: -DEVE_NO_SIMD         , status: 1 }
        - { comp: gcc  , arch: x86    , opts: -DEVE_NO_SIMD         , status: 1 }
        - { comp: clang, arch: x86_sde, opts: -march=skylake-avx512 , status: 1 }
        - { comp: gcc  , arch: x86_sde, opts: -march=skylake-avx512 , status: 1 }
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v2
      - name: Testing EVE with ${{ matrix.cfg.comp }} on ${{ matrix.cfg.arch }} with ${{ matrix.cfg.opts }}
        uses: ./.github/actions/run_tests
        with:
          options:        '${{ matrix.cfg.opts }}'
          cmake-options:  '-DCMAKE_TOOLCHAIN_FILE=../cmake/toolchain/${{ matrix.cfg.comp }}.${{ matrix.cfg.arch }}.cmake'
          status:        '${{ matrix.cfg.status }}'

  arch-ppc:
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - { comp: gcc  , arch: ppc64, opts: -Wno-psabi, status: 1 }

    steps:
      - name: Fetch current branch
        uses: actions/checkout@v2
      - name: Testing EVE with ${{ matrix.cfg.comp }} on ${{ matrix.cfg.arch }} with ${{ matrix.cfg.opts }}
        uses: ./.github/actions/run_docker
        with:
          options:        '${{ matrix.cfg.opts }}'
          cmake-options:  '-DCMAKE_TOOLCHAIN_FILE=../cmake/toolchain/${{ matrix.cfg.comp }}.${{ matrix.cfg.arch }}.cmake'
          status:        '${{ matrix.cfg.status }}'
